h1 {
  display: flex;
  justify-content: center;
  font-size: 10vh;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

input {
  font-size: 3vh;
  padding: 0.5vw;
  margin-right: 1vw;
}

button {
  font-size: 2vh;
  margin-right: 1vw;
}

img {
  margin: 1vw;
}
